$base03 = #002b36
$base02 = #073642
$base01 = #586e75
$base00 = #657b83
$base0 = #839496
$base1 = #93a1a1
$base2 = #eee8d5
$base3 = #fdf6e3
$yellow = #b58900
$orange = #cb4b16
$red = #dc322f
$magenta = #d33682
$violet = #6c71c4
$blue = #268bd2
$cyan = #2aa198
$green = #859900

$color-background = $base3
$color-footer-mobile-1 = $base2
$color-footer-mobile-2 = $base2
$color-background-code = $base2
$color-border = $base0
$color-meta = $yellow
$color-meta-code = $base1
$color-link = $magenta
$color-text = $base00
$color-accent-3 = $yellow
$color-accent-2 = $base01
$color-accent-1 = $green
$color-quote = $green
$highlight = hexo-config("highlight") || "github"
